
    <footer>
            <div class="wrapper footer">
                <ul>
                    <li class="links">
                        <ul>
                            <li>
                                <a href="#"> TRỤ SỞ HÀ NỘI</a>
                            </li>
                            <li>
                                <a href="#"> A40-TT1 - Văn Quán - Hà Đông - Hà Nội</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="links">
                        <ul>
                            <li>
                                <a href="#"> TRỤ SỞ HÀ NỘI</a>
                            </li>
                            <li>
                                <a href="#"> A40-TT1 - Văn Quán - Hà Đông - Hà Nội</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="links">
                        <ul>
                            <li>
                                <a href="#"> TRỤ SỞ HÀ NỘI</a>
                            </li>
                            <li>
                                <a href="#"> A40-TT1 - Văn Quán - Hà Đông - Hà Nội</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="about">
                        <p>Với kiểu dáng sang trọng ,chất liệu bền đẹp , tiện nghi ghế văn phòng giúp cho công việc ở nhà hay nơi
                            công sở của bạn trở nên dễ dàng hơn bao giờ hết</p>
                        <ul>
                            <li>
                                <a href="" class="facebook" target="_blank"></a>
                            </li>
                            <li>
                                <a href="" class="twitter" target="_blank"></a>
                            </li>
                            <li>
                                <a href="" class="google" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" class="skype"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
    
            <div class="copyrights wrapper">
                Copyright © 2015
                <a href="" target="_blank" class="ph_link" title="Download more free Templates">GScvietnam.com</a>. All Rights Reserved.
            </div>
        </footer>
        <!--  end footer  -->
    
    </body>
    
    </html>