<!DOCTYPE html>
<html lang="en">

<head>
    <title>La Casa - Real Estate HTML5 Home Page Template</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="La casa free real state fully responsive html5/css3 home page website template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
</head>

<body>

    <section class="hero">
        <header>
            <div class="wrapper">
                <a href="/">
                    <img src="https://gscvietnam.com/themes/echula/images/logo-gsc-vietnam.png" class="logo" alt="" title="" />
                </a>
                <a href="#" class="hamburger"></a>
                <nav>
                    <ul>
                        <li>
                            <a href="/roomAdd">Add_Room</a>
                        </li>
                    </ul>
                    <a href="#" class="login_btn">Login</a>
                </nav>
            </div>
        </header>
        <!--  end header section  -->

        <section class="caption">
            <h2 class="caption">GSC Viet Nam</h2>
            <h3 class="properties"> A40-TT1 - Văn Quán - Hà Đông - Hà Nội</h3>
        </section>
    </section>